{{#each this}}
    <li>
        <div class="name">{{name}}</div>
        <div class="tongbi {{tongbiClass}}"><span class="label">同</span><i></i><span class="value">{{tongbi}}，</span><span class="real-value">{{tongbiValue}}</span></div>
        <div class="huanbi {{huanbiClass}}"><span class="label">环</span><i></i><span class="value">{{huanbi}}，</span><span class="real-value">{{huanbiValue}}</span></div>
    </li>
{{/each}}